.threecard {
	background-color: black;
	margin-top: -20px;
	padding: 60px 30px 30px 30px;
}

button:hover {
	cursor: pointer;
}

.card {
	border: 2px white solid;
	border-radius: 15px;
	background-color: #434344;
	text-decoration: none;
}

.card h2 {
	color: white;
	text-align: center;
}

.image {
	text-align: center;
}

.card p {
	color: white;
}

.card strong {
	color: white;
}

.cta {
	text-align: center;
}

button {
	background-color: #cb48b7;
	color: white;
	font-weight: bold;
	border: 2px solid #c1c1c1;
	border-radius: 7px;
}

@media only screen and (min-width: 1051px) {
	.threecard {
		display: flex;
		flex-flow: row;
		padding: 5px 0.5% 10px 0.5%;
	}

	.card {
		max-width: 29%;
		display: block;
		padding: 10px 2%;
		margin: 10px 2%;
	}

	.card h2 {
		font-size: 1.8rem;
	}

	.cardpic {
		width: 200px;
		height: 200px;
		object-fit: contain;
	}

	.card p {
		font-size: 1.2rem;
		letter-spacing: 0.03rem;
		word-spacing: 0.35rem;
		line-height: 1.5rem;
	}

	.cta {
		padding-top: 10px;
		padding-bottom: 30px;
	}

	button {
		font-size: 1.3rem;
		padding: 5px 10px;
	}
}

@media only screen and (max-width: 1050px) {
	.threecard {
		display: flex;
		flex-flow: column;
	}

	.card {
		max-width: 80%;
		display: block;
		padding: 7px 5%;
		margin: 7px 5%;
	}

	.card h2 {
		font-size: 1.5rem;
	}

	.cardpic {
		max-width: 250px;
		max-height: 250px;
		object-fit: contain;
	}

	.card p {
		font-size: 1.1rem;
		letter-spacing: 0.025rem;
		word-spacing: 0.3rem;
		line-height: 1.3rem;
	}

	.cta {
		padding-top: 10px;
		padding-bottom: 30px;
	}

	button {
		font-size: 1.25rem;
		padding: 5px 10px;
	}
}

@media only screen and (max-width: 767px) {
	.threecard {
		display: flex;
		flex-flow: column;
	}

	.card {
		width: 80%;
		padding: 7px 5%;
		margin: 7px 5%;
	}

	.card h2 {
		font-size: 1.3rem;
	}

	.cardpic {
		width: 200px;
		height: 200px;
		object-fit: contain;
	}

	.card p {
		font-size: 1.1rem;
		letter-spacing: 0.025rem;
		word-spacing: 0.3rem;
		line-height: 1.2rem;
	}

	.cta {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	button {
		font-size: 1.2rem;
		padding: 5px 10px;
	}
}